# VS Code directories
.vscode/
.history/

# Node modules
**/node_modules/

# Environment variables
**/.env*

# Build outputs
**/dist/

# Next.js
**/.next/
**/out/
**/next-env.d.ts

# Testing
**/coverage/

# Debug logs
**/npm-debug.log*

# TypeScript
**/*.tsbuildinfo


frontend-original
frontend-mobile
frontend-next